@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Timmana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Paytone+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,900&display=swap');

    /* font-family: 'Lexend Deca', sans-serif; */
    /* font-family: 'Timmana', sans-serif; */
    /* font-family: 'Paytone One', sans-serif; */
    /* font-family: 'Montserrat Alternates', sans-serif; */

body {
   margin: 0;
   padding: 0;
}


#container {
    width: 100%;
    height: 100%;
    margin: auto;
}
#first {
    width: 50%;
    float: left;
    min-height: 700px;
        background-color: #ff1516;
	color: #bfff12;
	font-size: 5em;
}
#second {
    width: 50%;
    float: right;
    min-height: 700px;
	font-size: 5em;
    	background-color: #FFFFFF;
	color: #EF2917;
}