


body {
   margin: 0;
   padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    margin: auto;
}
#first-landing {
    width: 50%;
    float: left;
    min-height: 700px;
        background-color: #F08080;
	color: #FFDAB9;
    text-align: center;
   
}
#second-landing {
    width: 50%;
    float: right;
    min-height: 700px;
    background-color: #FFFFFF;
	color: #F08080;
}



/* trying to put transition effect -- not working so far :( 
Before click:
.container, .master-close {
 transition: all .4s;
}

.master-close (div) {
 background: rgba(0,0,0,.7);
position: fixed;
 width: 100%;
 height: 100%;
 top: 0;
  left: 0;
 right: 0;
 bottom: 0;
 z-index: 100;
 opacity: 0;
pointer-events: none;
 /* cursor: url(../images/cursor-close.svg) 10 10, auto; */




