


body {
   margin: 0;
   padding: 0;
}

#container {
    width: 100%;
    height: 100%;
    margin: auto;
}
#first-landing {
    width: 50%;
    min-height: 100vh;
    text-align: center;
    opacity: 0.3;
}
#second-landing {
    text-align: center;
    width: 50%;
    float: right;
    min-height: 100vh;
    opacity: 0.3;
}

.landingText {
    display: flex;
    width: 100vw;
    font-size: 100px;
}

.landingText span {
    color:#063a79;
    display: flex;
    writing-mode: vertical-rl;
    text-orientation: upright;
    font-weight: 900;
}
.landingText h1 {
    text-align: start;
}

.enterHome {
    position: fixed;
    top: 50%;
    left: 50%;
}