@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');



h2 {
	color: blue;
	font-family: 'Indie Flower', cursive;
}

.posthere {
	border: 1px solid blue;
}

.mainContainer {
	border: 2px solid black;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;

}
.mainPost {
	width:30%
}
.postImg {
object-fit: cover;
width: 30%;
}

.mainPageHeader {
	margin-top: -250px;
}