@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&display=swap');


.detailImagebox {
    position: relative;
    width: 45%;
}

.detailImagebox img {
    height: 60vh;
    display: flex;
    align-items: center;
    border-radius: 20px;
    object-fit: contain;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    width: 100vh
    
}
.infoContainer {
    padding: 50px;
    width: 40%;
    text-align: center;
    color:#6f7b8c;
}
.wow {
    position: absolute;
    left: 75%;
    bottom: 8%;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 70px;
    height: 35px;
    color: white;
    font-weight: 900;
    font-size: 20;
    border-radius: 10px;
    border: 2px solid white;
}

.wow:focus {
    background-color:blueviolet;
    pointer-events: none; 
}



.pageContainer {
    padding: 50px;
   	width: 100vw;
    display: flex;
    justify-content: center;
    position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


h2 {
    text-align: center;
}



p {
    font-family: 'Montserrat Alternates', sans-serif;
}

.commentSubmit {
    width: 50px;
    height: 38px;
    border-radius: 12px;
    background-color: #063a79;
    color: white;
    border: 2px solid white;
}