.detailImagebox {
    position: relative;
    border: 1px solid black;
    width: 45%;
}

.detailImagebox img {
    width:100%;
    height: auto;
}

.imageContainer {
    display: flex;
    flex-direction: row;
    margin-left: 10%;
    
}
.infoContainer {
    padding: 50px;
    border: 1px solid black;
    width: 40%;
    margin-right: 10%;
    text-align: center;
}
.wow {
    position: absolute;
    left: 80%;
    bottom: 10%;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 70px;
    height: 35px;
    color: white;
    font-weight: 900;
    font-size: 20;
    border-radius: 10px;
    border: 2px solid white;
}

.wow:focus {
    background-color:blueviolet;
    pointer-events: none; 
}

.pageContainer {
    margin-top: 100px;
}


h2 {
    text-align: center;
}